<div class="listar-usuarios-container">
    <br><br><br><br>
    <div class="row allign-items-rigth"> 
        <div class="col" >       
            <button routerLink="crear-usuario" class="btn btn-primary">Agregar Usuario</button>
        </div>
      </div>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre y Apellidos</th>
          <th>Email</th>
          <th>Tipo de Usuario</th>
          <th>Fecha de Creación</th>
          <th>Observaciones</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">      
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.userType }}</td>
          <td>{{ user.createdDate | date }}</td>
          <td>{{ user.observations }}</td>
          <td>
            <button (click)="openEditModal(user)" class="btn btn-info">Editar</button>
            <button (click)="onDeleteUser(user)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  